DATABASE_URL=
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

BLOB_READ_WRITE_TOKEN=

# Opcional (PDF)
HTML2PDF_API_URL=
HTML2PDF_API_KEY=

# Obrigatórias para scripts/seed.ts
SEED_TEST_PASSWORD=
SEED_ADMIN_PASSWORD=
